nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

footer {
  display: flex;
  align-items: center;
  background-color: aqua;
  justify-content: space-around;
}

main {
  display: grid;
  justify-content: space-around;
}

div {
  background-color: bisque;
}

input {
  border-radius: 4px;
}

button {
  border-radius: 6px;
}
