@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#grid {
  display: grid;
  grid-template-areas:
    "h h h h"
    "l m m r"
    "f f f f";
}

.header {
  display: flex;
  grid-row-start: h;
  grid-column-start: h;
  grid-row-end: h;
  align-items: center;
  justify-content: space-between;
  background-color: f9c74f;
}

footer {
  display: flex;
  grid-row-start: f;
  grid-column-start: f;
  grid-row-end: f;
  align-items: center;
  background-color: f9c74f;
  justify-content: space-around;
}

.main-content {
  display: grid;
  grid-row-start: m;
  grid-column-start: m;
  grid-row-end: m;
  background-color: 577590;
}

div {
  background-color: bisque;
}

input {
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 16px;
  width: 90%;
}

.title-input {
  background-color: rgb(252, 236, 217);
  padding: 16px 32px;
  border: none;
}

.title-input::placeholder {
  opacity: 1;
  color: black;
}

.title .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #f94144;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding: 0%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #43aa8b;
  cursor: pointer;
}

button {
  border-radius: 6px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pos-btn {
  background-color: #90be6d;
}

.pos-btn:hover {
  background-color: #4caf50;
  color: white;
}

.neg-btn {
  background-color: #f3722c;
}

.neg-btn:hover {
  background-color: #eb3508;
  color: white;
}

.submit-btn {
  background-color: #f94144;
}

.submit-btn:hover {
  background-color: #4caf50;
}

.reset-button {
  background-color: #f3722c;
}

.reset-button:hover {
  background-color: #eb3508;
  color: white;
}
