@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  align-content: center;
}

#grid {
  display: grid;
  grid-template-areas:
    "h h h h"
    "l m m r"
    "f f f f";
  grid-row-gap: 50px;
}

.header {
  display: flex;
  grid-row-start: h;
  grid-column-start: h;
  grid-row-end: h;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  height: 100px;
  font-weight: bolder;
}
.container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 10;

  background-color: bisque;
  justify-content: center;
  align-content: center;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
}

.flame-logo {
  width: 100px;
  margin: auto;
}

footer {
  display: flex;
  grid-row-start: f;
  grid-column-start: f;
  grid-row-end: f;
  align-items: center;
  background-color: bisque;
  justify-content: space-around;
}

.main-content {
  padding: 20px;
  display: grid;
  grid-row-start: m;
  grid-column-start: m;
  grid-row-end: m;
  background-color: #577590;
}

input {
  border-color: white;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  padding: 8px 16px;
  width: 90%;
  text-align: center;
}

.title-input {
  width: 500px;
  background-color: rgb(252, 236, 217);
  padding: 16px 32px;
  border-color: rgb(252, 236, 217);
  font-size: x-large;
  font-weight: bold;
}

.title-input::placeholder {
  opacity: 1;
  color: black;
  font-size: x-large;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #43aa8b;
  cursor: pointer;
}

button {
  border-radius: 10px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pos-btn {
  background-color: #90be6d;
}

.pos-btn:hover {
  background-color: #4caf50;
  color: white;
}

.neg-btn {
  background-color: #f3722c;
}

.neg-btn:hover {
  background-color: #eb3508;
  color: white;
}

.submit-btn {
  background-color: #f94144;
}

.submit-btn:hover {
  background-color: #4caf50;
}

.reset-button {
  background-color: #f3722c;
}

.reset-button:hover {
  background-color: #eb3508;
  color: white;
}

.emoji-icons {
  font-size: 100px;
  line-height: 0%;
}
.emoji-slider {
  display: inline-flex;
  padding: 0;
}

.mood-slider {
  padding: 0%;
  line-height: 20%;
  text-align: center;
}
