/* .profile {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: var(--nav-color);
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
} */
.profile {
  background-color: transparent;
}

#profile-picture {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: 1vh;
  border-color: black;
  background-color: violet;
}

/* .chartButtonContainer {
  padding-top: 6vh;
  padding-bottom: 6vh;
  text-align: center;
} */

/* .chartButtons {
  display: flex;
  justify-content: space-around;
} */
